@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
}
//스크롤
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #84cc16;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

$grid-background: repeating-linear-gradient(
    0deg,
    transparent,
    transparent 19px,
    rgba(0, 0, 0, 0.1) 19px,
    rgba(0, 0, 0, 0.1) 20px
  ),
  repeating-linear-gradient(
    90deg,
    transparent,
    transparent 19px,
    rgba(0, 0, 0, 0.1) 19px,
    rgba(0, 0, 0, 0.1) 20px
  );

$grid-background-dark: repeating-linear-gradient(
    0deg,
    transparent,
    transparent 19px,
    rgba(0, 0, 0, 0.3) 19px,
    rgba(0, 0, 0, 0.3) 20px
  ),
  repeating-linear-gradient(
    90deg,
    transparent,
    transparent 19px,
    rgba(0, 0, 0, 0.3) 19px,
    rgba(0, 0, 0, 0.3) 20px
  );

.grid-background {
  background-image: $grid-background;
}

.grid-background-dark {
  background-image: $grid-background-dark;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('/fonts/NotoSansKR-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-notosans {
  font-family: 'NotoSansKR', sans-serif;
}

.lime-gradient {
  background: linear-gradient(135deg, #d4edda, #c3e6cb);
}
